*{
    margin: 0;
    padding:0;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: rgb(170, 68, 101);
    text-align: center;
}

h1{
    font-size: 60px;
    text-shadow: 4px 2px 2px rgb(104, 42, 61);
}
.playerturn{
    font-size: 1.5rem;
    color: white;
    margin-left: 70%;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.game{
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    gap: 1.5vmin;
}

#box{
    background-color: rgb(239, 239, 239);
    height:18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    font-size: 6vmin;
    color: rgb(28, 35, 33);
}

#reset{
    padding: 1em;
    background-color: #3685B5;
    color: rgb(28, 35, 33);
    border: 1px solid rgb(28, 35, 33);
    border-radius: 1rem;
    font-size: 1rem;
}
#reset:hover{
    padding: 1.1em;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in-out;
}

.msg-container{
    height: 100vmin;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vmin;
    border: 2px solid rgba(28, 35, 33, 0.5);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    background-color: rgb(169, 72, 102);
    font-size: 2em;;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
#msg{
    font-size: 5vmin;
    color: #668586;
    font-weight: 200;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#New-btn{
    padding: 1em;
    background-color: #668586;
    color: rgb(28, 35, 33);
    border: 1px solid rgb(28, 35, 33);
    border-radius: 1rem;
    font-size: 1rem;
}
#New-btn:hover{
    padding: 1.1em;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in-out;
}

.hide{
    display: none;
}

